---
layout: default
title: About
permalink: /about/
info_text: |
    "Sie stehen allen zur Verfügung, die handwerklich oder künstlerisch in Eigenarbeit aktiv sein wollen - Junge und Alte, Frauen und Männer, Laien und (Halb-) Profis, Künstler und Bastler, Maker und Tüftler, Einzelne und Gruppen sind willkommen. Oft sind Offene Werkstätten aus privater Initiative heraus entstanden, manchmal sind sie Teil von Kultur-, Bürger- oder Jugendzentren, seltener von Unternehmen. Während einige jahrzehntelange Erfahrungen haben, befinden sich andere noch im Aufbau."<br><a href="http://www.offene-werkstaetten.org/seite/offene-werkstaetten">Quelle</a>

---
<!-- über das projekt -->
<div class="row">
    <section class="section first col-xs-24">
        <div class="content-wrap subpage">
            <h1 class="section-headline">Über das Projekt</h1>
            <h2 class="blue about-subline">Wie können lokale Probleme mit analogen und digitalen Werkzeugen gemeinschaftlich gelöst werden?</h2>
            <div class="subpage-content">
                <p>Mit der Veranstaltungsreihe „making lausitz“ möchte der <a href="http://blog.fablab-cottbus.de/">FabLab Cottbus e.V.</a> gemeinsam mit der Zivilgesellschaft an ganz konkreten Problemen arbeiten. In Workshops werden verschiedene Fertigkeiten in der Arbeit mit digitalen Werkzeugen und Maschinen vermittelt. Anschließend arbeiten generationenübergreifende Teams an lokalen Problemen, die jeder lösen kann - sofern er sich mit anderen vernetzt.</p>
                <p><strong>Was ist der <a href="http://blog.fablab-cottbus.de/">FabLab Cottbus?</a></strong><br>Wir sind eine bunte Gruppe und teilen uns eine demokratisch organisierte Werkstatt, die als gemeinnütziger Verein organisiert ist. „fab lab“ steht für fabrication laboratory (zu deutsch „Fabrikationslabor“).
                    <!-- include floated image -->
                    {% include partials/content/content-float-image.liquid float="left"
                    src="/assets/img/static/repairCafe_1.jpg" caption="Bild: Arbeiten während des Repair Cafés" %}
                     Wir teilen zahlreiche Werkzeuge und Maschinen sowie das Wissen, wie sie eingesetzt werden. Und wir haben großen Spaß dabei! Dadurch möchten wir das Selbermachen fördern und die Freiheit im alltäglichen Umgang mit Technik stärken. Weitere Informationen findest Du über unseren Pressespiegel oder in unserer Entstehungsgeschichte.
                </p>
            </div>
        </div>
    </section>

</div>
<!-- include mitmachen section -->
{% include partials/sections/apply.liquid %}
