<!-- mitmachen -->
<div class="row">
    <section id="apply" class="section blue col-xs-24">
        <div class="content-wrap">
            <h2 class="section-headline">Das Projekt unterstützen</h2>
            <p>Hilf uns dabei „making lausitz“ nach Cottbus zu holen und die Google Impact Challange zu gewinnen!</p>
        </div>
        <div class="content-wrap btn-wrap">
            <a class="edu-btn white" href="{{ site.url }}/join" target="_blank">Jetzt abstimmen</a>
        </div>
    </section>
</div>
